.nepali-date-picker {
  position: relative;
}

.nepali-date-picker i {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.833rem;
}

.nepali-date-picker .calender {
  background: #fff none repeat scroll 0 0;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #8c8c8c;
  display: block;
  font-family: NotoSans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  height: auto;
  letter-spacing: 0.2px;
  line-height: 1.25em;
  padding: 10px;
  position: absolute;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  left: 0;
  z-index: 9999;
}

.nepali-date-picker .calender .calendar-controller {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.nepali-date-picker .calender .calendar-controller .date-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nepali-date-picker .calender .calendar-controller .control {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.nepali-date-picker .calender .calendar-controller .control.disabled path {
  stroke: #d8d8d8 !important;
}

.nepali-date-picker .calender .calendar-controller .control.icon-today {
  position: absolute;
  right: 20px;
}

.nepali-date-picker .calender .calendar-controller .control.month, .nepali-date-picker .calender .calendar-controller .control.year {
  border: 1px solid #eee;
  line-height: 24px;
  width: 60px;
}

.nepali-date-picker .calender .calendar-controller .control.month .current-month, .nepali-date-picker .calender .calendar-controller .control.month .current-year, .nepali-date-picker .calender .calendar-controller .control.year .current-month, .nepali-date-picker .calender .calendar-controller .control.year .current-year {
  display: block;
  padding: 4px;
}

.nepali-date-picker .calender .calendar-controller .control.year {
  border-left: none;
}

.nepali-date-picker .calender .calendar-controller .control .drop-down {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  left: 0;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nepali-date-picker .calender .calendar-controller .control .drop-down ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nepali-date-picker .calender .calendar-controller .control .drop-down li {
  padding: 4px;
}

.nepali-date-picker .calender .calendar-controller .control .drop-down li.active {
  background: #2096f5;
  color: #fff;
}

.nepali-date-picker .calender td.month-day {
  cursor: pointer;
}

.nepali-date-picker .calender td.month-day.current {
  opacity: 1;
}

.nepali-date-picker .calender td.month-day.disabled {
  color: #d8d8d8 !important;
}

.nepali-date-picker .calender td.month-day.today {
  color: #4a4a4a;
  position: relative;
}

.nepali-date-picker .calender td.month-day.today::before {
  background-color: #2096f5;
  border-radius: 50%;
  bottom: 6px;
  content: "";
  height: 4px;
  left: 50%;
  margin: auto;
  position: absolute;
  width: 4px;
}

.nepali-date-picker .calender td.month-day.selected {
  color: #fff;
  position: relative;
}

.nepali-date-picker .calender td.month-day.selected::after {
  background: #2096f5;
  border-radius: 50%;
  content: "";
  height: 25px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  z-index: -1;
}

.nepali-date-picker .calender table {
  text-align: center;
  width: 100%;
  border: none;
}

.nepali-date-picker .calender table td {
  height: 30px;
  width: 30px;
  border: none;
  padding: 0px 3px;
}

.nepali-date-picker .calender table tr {
  border: none;
  height: 28px;
}
/*# sourceMappingURL=Datepicker.css.map */