.error-boundary--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.error-boundary--content {
  text-align: center;
}
/*# sourceMappingURL=ErrorBoundary.css.map */