.checkout__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.checkout__submitValues {
  margin: 2rem auto;
}
/*# sourceMappingURL=Checkout.css.map */